Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

## ---------------- ##
##   WWise stuff    ##
## ---------------- ##

# project stuff
ATaleFromAPastTale_WwiseProject/.cache/
ATaleFromAPastTale_WwiseProject/*.prof
ATaleFromAPastTale_WwiseProject/*_WwiseProject.*.validationcache
ATaleFromAPastTale_WwiseProject/*_WwiseProject.*.wsettings
ATaleFromAPastTale_WwiseProject/**/*.akd
Plugins/Wwise
ATaleFromAPastTale_WwiseProject/GeneratedSoundBanks
ATaleFromAPastTale_WwiseProject/Originals
Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset*

WwiseUnityIntegration_*_Src.zip


## --------------- ##
## End WWise Stuff ##
## --------------- ##

# Mac stuff
.DS_store
